html {
    box-sizing: border-box;
}
 
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

a {
    color: $marvel-white;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}