.search_area {
    @include flexCenter(column);
    #{&}_title {
        font-size: 3rem;
        font-family: $primary-font;
        color: $black;
        text-shadow: 1px 1px $marvel-red;
        letter-spacing: 1px;

        @media screen and (max-width: $mobile-breakpoint){
            text-align: center;
            font-size: 2.5rem;
        }
    }
}

.character-grid{
    margin: 80px;
    @include desktopGrid;
    @media screen and (max-width: $tablet-breakpoint){
        @include tabletGrid;
    }
    @media screen and (max-width: $mobile-breakpoint){
        @include mobileGrid;
    }
}

.card {
    background-color: $marvel-red;
    padding: 24px;
    border-radius: 16px;
    

    h1 {
        color: $marvel-white;
        font-family: $primary-font;
        text-align: center;
        font-size: 2rem;
    }

    img {
        width: 100%;
        border-radius: 8px;
    }
}