// fonts
@import url('https://fonts.googleapis.com/css2?family=Genos&family=Hind+Siliguri&display=swap');
$primary-font: 'Genos', sans-serif;
$secondary-font: 'Hind Siliguri', sans-serif;

// colors
$marvel-white: #ffffff;
$marvel-red: #f0131e;
$blue: rgb(29, 78, 99);
$grey: rgb(175, 171, 171);
$gold: rgb(243, 211, 32);
$black: rgb(21, 20, 20);

// shadows
$strong: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// responsiveness breakpoints
$tablet-breakpoint: 1250px;
$mobile-breakpoint: 600px;