// fonts
@import url('https://fonts.googleapis.com/css2?family=Genos&family=Hind+Siliguri&display=swap');
$primary-font: 'Genos', sans-serif;
$secondary-font: 'Hind Siliguri', sans-serif;

// colors
$marvel-white: #ffffff;
$marvel-red: #f0131e;
$black: rgb(21, 20, 20);

// shadows
$strong: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// responsiveness breakpoints
$tablet-breakpoint: 900px;
$mobile-breakpoint: 500px;