// fonts

// colors
$marvel-white: #ffffff;
$marvel-red: #f0131e;
$text-black: rgb(30, 29, 29);

// shadows
$strong: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// responsiveness breakpoints
$tablet-breakpoint: 900px;
$mobile-breakpoint: 500px;